<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViewData</title>
    <style>
        tr{
            border: 3px solid black;
            padding: 5px;
            margin: 10px;
        }

        td{
            border: 3px solid black;
            padding: 20px;
            margin: 10px;
            background-color: azure;
        }
        
    </style>
</head>
<body>
    <form method="get" action="/search1"  align="center">
        <select >
            <option value="1">and</option>
            <option value="1">or</option>
        </select>
        <label >Search:</label>
        <input type="text" name="search" id="search1" <%= typeof search1 !== 'undefined' ? search1 : '' %>>
        <input type="submit" value="go"/>
      </form>
      <br>
    <table class="table">
    <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Gender</td>
        <td>DOB</td>
        <td>Desigation</td>
        <td>Addres</td>
        <td>Email</td>
        <td>Phone</td>
        <td>City</td>
        <td>State</td>
        <td>Zipcode</td>
        <td>Relationship Status</td>
    </tr>
    <%for(let i=0; i<data.length; i++) {%>
    <tr>
        <td><%=data[i].applicant_id%></td>
        <td><%=data[i].first_name%></td>
        <td><%=data[i].last_name%></td>
        <td><%=data[i].gender%></td>
        <td><%=data[i].dob%></td>
        <td><%=data[i].job_designation%></td>
        <td><%=data[i].address1%></td>
        <td><%=data[i].email%></td>
        <td><%=data[i].phone%></td>
        <td><%=data[i].city%></td>
        <td><%=data[i].state%></td>
        <td><%=data[i].zip%></td>
        <td><%=data[i].relation_status%></td>
    </tr>
    <%}%>
</table>
</body>